
@{
    ViewBag.Title = "GeneratePassword";
}

@using (Html.BeginForm("GeneratePassword", "Home", FormMethod.Post))
{
    <h2 class="text-center">Encrypt Password</h2>
    <input type="text" name="Pass" id="Pass" value="" />
    <button type="submit">Generate</button>
    <p>@ViewBag.HashPass</p>
}




